---
layout: default
---

{% include site-nav.html %}

<article class="page" lang="{{ page.lang | default: site.lang | default: "ru" }}" itemscope itemtype="http://schema.org/BlogPosting">
  {% include header.html %}
    <div class="page-content" itemprop="articleBody">
  {{ content }}
 </div>
  <font size="1pt" color="white">
    <footer class="page-footer">
    <div class="page-meta">
      Автор: <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">Севелева Людмила Михайловна</span></span>
    </div>
  </footer>
 </font>
    
</article>



